{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Edeypay</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Edeypay" name="keywords">
        <meta content="Edeypay" name="description">

        <!-- Favicon -->
        <link href="{% static 'img/favicon.ico' %} " rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet"> 

        <!-- Libraries CSS -->
        <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

        <!-- Main Stylesheet -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        {% block head %} {% endblock %}
    </head>

    <body>
        <!-- Nav Start -->
        <div id="nav">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="{% url 'home' %}" class="navbar-brand">
                        <!--<img src="{% static 'img/logo.png' %}" alt="Logo">-->
                         <h1 style="color: white;">Edeypay</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav ml-auto">
                            <a href="{% url 'home' %}" class="nav-item nav-link">Home</a>
                            <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                            {% if user.is_authenticated %}
                                <a href="{% url 'play_lottery' %}" class="nav-item nav-link">Play Lottery</a>
                                <a href="{% url 'withdraw' %}" class="nav-item nav-link">Withdraw</a>
                                <!--<a href="{% url 'generate_lottery_result' %}" class="nav-item nav-link">Lottery Result</a>-->
                                
                                
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ user.first_name }}</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                                        <a class="dropdown-item" href="{% url 'payment_history' %}">Payment History</a>
                                        <a class="dropdown-item" href="{% url 'lottery_history' %}">Lottery History</a>
                                        <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                                    </div>
                                </div>
                                <a class="nav-link" href="{% url 'initiate-payment' %}">NGN {{ user.account_balance }}</a>
                            {% else %}
                                <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
                                <a href="{% url 'signup' %}" class="nav-item nav-link">Register</a>
                                
                            {% endif %}
                            
                            
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav End -->
        <br><br><br><br><br>
        {% block content %}
        

        {% endblock %}
        <br><br><br>
        <!-- Footer Start -->
        <div class="footer" style="max-width: 100%;">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Links</h4>
                            <ul>
                                <li><i class="ion-ios-arrow-forward"></i> <a href="{% url 'home' %}">Home</a></li>
                                <li><i class="ion-ios-arrow-forward"></i> <a href="{% url 'about' %}">About us</a></li>
                                <li><i class="ion-ios-arrow-forward"></i> <a href="#">Our services</a></li>
                                <li><i class="ion-ios-arrow-forward"></i> <a href="{% url 'terms' %}">Terms & condition</a></li>
                                <li><i class="ion-ios-arrow-forward"></i> <a href="{% url 'privacy' %}">Privacy policy</a></li>
                            </ul>
                        </div>

                        

                        <div class="col-lg-3 col-md-6 footer-contact">
                            <h4>Contact Us</h4>
                            <p>
                                1300  Center Avenue<br>
                                Fresno, California<br>
                                United States <br>
                                <strong>Phone:</strong> +234 813 813 5912<br>
                                <strong>Email:</strong> info@edeypay.money<br>
                            </p>

                            <div class="social-links">
                                <a href="#"><i class="ion-logo-twitter"></i></a>
                                <a href="#"><i class="ion-logo-facebook"></i></a>
                                <a href="#"><i class="ion-logo-linkedin"></i></a>
                                <a href="#"><i class="ion-logo-instagram"></i></a>
                                <a href="#"><i class="ion-logo-googleplus"></i></a>
                            </div>

                        </div>

                        <div class="col-lg-3 col-md-6 footer-newsletter">
                            <h4>About Us</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>

                        </div>

                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 copyright">
                        Copyright &copy; 2023 <a href="{% url 'home' %}">Edeypay</a>. All Rights Reserved
                    </div>
                    <div class="col-md-6 credit">
						<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed by <a href="https://htmlcodex.com">HTML Codex</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <a href="#" class="back-to-top"><i class="ion-ios-arrow-up"></i></a>

        <!-- Libraries JS -->
        <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
        <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
        <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

        <!-- Main Javascript -->
        <script src="{% static 'js/main.js' %}"></script>
        {% block scripts %}
        
        {% endblock %}
    </body>
</html>
