{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2 class="text-center text-capitalize">Terms And conditions</h2>
    <div class="row align-items-center">
        
        <div class="row">
            <ol>
                <li>Acceptance of Terms By accessing or using the EdeyPay Lottery website at www.edeypay.money, you agree to comply with and be bound by these Terms and Conditions. If you do not agree to these Terms, please do not use the Website.</li>
                <li>Eligibility You must be at least 18 years of age or the legal age for gambling in your jurisdiction to use this Website. You are responsible for ensuring compliance with all applicable laws regarding online gambling and lotteries in your jurisdiction.</li>
                <li>Registration and Accounts
                    <ol type="a">
                        <li>To participate in lotteries and access certain features, you may need to create an account. You agree to provide accurate and complete information during the registration process.</li>
                        <li>You are responsible for maintaining the confidentiality of your account information and for all activities that occur under your account.</li>
                    </ol>
                </li>
                <li>Lottery Rules
                    <ol>
                        <li>All lottery games and draws conducted on this Website are subject to specific rules and terms posted on the Website. You agree to abide by these rules.</li>
                        <li>The results of all lottery draws on this Website are final and binding.</li>
                    </ol>
                </li>
                <li>Payment and Winnings
                    <ol type="a">
                        <li>You agree to pay for lottery tickets and associated fees in accordance with the pricing and payment terms posted on the Website.</li>
                        <li>EdeyPay will make reasonable efforts to ensure prompt payment of winnings, subject to verification and compliance with the Terms and Conditions.</li>
                    </ol>
                </li>
                <li>Responsible Gambling
                    <ol type="a">
                        <li>EdeyPay promotes responsible gambling. You have the option to set deposit limits or self-exclude from the Website if you believe you have a gambling problem.</li>
                        <li>Seek help from appropriate resources if you believe you have a gambling addiction.</li>
                    </ol>
                </li>
                <li>Privacy Your use of the Website is also governed by our Privacy Policy.</li>
                <li>Termination EdeyPay reserves the right to terminate or suspend your account and access to the Website at its discretion, without notice.</li>
                <li>Limitation of Liability EdeyPay is not liable for any direct, indirect, incidental, consequential, or punitive damages arising from your use of the Website.</li>
                <li>Changes to Terms EdeyPay may modify these Terms and Conditions at any time. It is your responsibility to review these Terms periodically.</li>
                <li>Governing Law These Terms and Conditions are governed by and construed in accordance with the laws of Nigeria.</li>
                <li>Contact Information If you have any questions or concerns regarding these Terms and Conditions, please contact us on our hotline or Whatsapp us at 08138135912</li>
            </ol>
        </div>
    </div>
    <p class="text-center text-dark">Edeypay.money - Your Path to Fortune, Your Key to Dreams.</p>
</div>
{% endblock %}
